* {
	box-sizing: border-box;
	
	/* width: 1512px;
	height: 982px; */
}


.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: linear-gradient(256.47deg, #5E2AB3 2.64%, #161E6C 140.46%);
}